.wrappermanager {
	border: 1px solid red;
	display: flex;
	width: 98vw;
	height: 98vh;
	&__operator {
		//border: 1px solid red;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: #404855;
		width: 70px;
	}
	&__logo {
		//border: 1px solid red;
		width: 100%;
		height: auto;
		cursor: pointer;
		img {
			width: 100%;
			margin-top: 10px;
		}
	}
	&__green {
		position: relative;
		left: 50px;
		top: -15px;
		width: 13px;
		height: 13px;
		border-radius: 50%;
		background-color: #39c073;
	}
	&__settings {
		//border: 1px solid red;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			//border: 1px solid red;
			width: 60%;
			margin-bottom: 20px;
			cursor: pointer;
		}
	}
	&__users {
		border: 1px solid red;
		width: 25%;

	}
}