@import "smart-grid.less";
@import "var.less";
@import "fonts.less";


.reset();
.debug {
	.debug(rgba(0, 0, 0, 0.1), 1px solid blue);
}

.wrapper {  // центрущая обертка
	.wrapper();
}

body {
	box-sizing: border-box;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100vh;
	font-family: 'Play', sans-serif;
}

.chatline {
	//border: @border;
	position: fixed;
	right: 5px;
	bottom: -47%;
	width: 350px;
	height: 500px;
	margin-right: 50px;
	border-radius: 10px 30px 0 0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	&__head {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		height: 7vh;
		background: linear-gradient(to right, @bkgdark, @bkglight);
		border-radius: 10px 30px 0 0;
		cursor: grab;
		span {
			padding-top: 10px;
			flex-grow: 1;
			color: azure;
			user-select: none;
		}
	}
	&__close {
		//border: @border;
		height: 20px;
		width: 20px;
		border-radius: 100%;
		position: absolute;
		right: 102%;
		background-color: @bkgdark;
		cursor: pointer;
		text-align: center;
		box-shadow: 0 7px 15px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22);
		//transform: rotate(45deg);
		display: none;
		transition: ease-in-out	0.5s;
		span {
			font-size: 18px;
		}
	}
	&__body {
		height: 35vh;
		border-bottom: 1px solid @bkglight;
		background: @bkggray;
	}
	&__footer {
		display: flex;
		align-items: center;
		input {
			border: none;
			width: 100%;
			height: 30px;
			padding: 15px;
			font-size: 0.9rem;
			&:focus{
				outline: none;
			}
		}
		i {
			font-size: 30px;
			color: white;
			padding: 10px;
			margin-right: 10px;
			background-color: green;
			border-radius: 50%;
		}
	}
	&__iconform{
		display: flex;
		margin-left: 5px;
		i {
			font-size: 25px;
			padding: 15px;
			color: darkgray;
		}
	}
}

.openbox {
	position: fixed;
	right: 5px;
	bottom: 10px;
}